<a href="https://colab.research.google.com/github/VinodPungle/skillfytraining/blob/main/Skillfy_Python_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python in-built datatypes -->

# here you are understanding the different characters of python

# how does python know--> what variable holds what kinds of data--> what operations can be performed on the data

a=2
print(a)
print(type(a))

# integer

2
<class 'int'>

In [ ]:
# in the above what is print --> function , type--> function --
# block of re-useable code --> that performs a specific task
# opyton is also syntax based programming-->

In [ ]:
# to create a program that takes two inputs a and b prnits a+b and a*b

# 08:58--> 09:01
# in python there are inbuilt operations which you can perform on datatypes -->
a=5.14
b=5
print(a+b)
print(a*b)

# can you also add to this a divide by b and a to the power b

print(a/b)
print(a**b)
print(a-b)
print(type(a))

# the first datatype in python is numbers : integers, floats, hex, binary, complex,etc

10.14
25.7
1.028
3587.695657782399
0.13999999999999968
<class 'float'>

In [ ]:
# we can convert numbers

a = 5
print(a)
print(float(a))

b = 5.9
print(b)
print(int(b))

print(complex(a))

5
5.0
5.9
5
(5+0j)

In [ ]:
# write a program which returns the integer part of number when a/b
# write a program which returns only the decimal of a/b
# write the prgram which returns the nearest integer when a/b
# write the program which returns (ceil)the higher integer when a/b

# working break ---> 09:17--> 09:30

In [ ]:
# program to return the integer part of a/b
a = 10
b = 3
integer_part = a // b
print(f"The integer part of {a}/{b} is: {integer_part}")

# You can use the existing variables a and b from the notebook as well
# integer_part_existing = a // b
# print(f"The integer part of existing a/b is: {integer_part_existing}")

The integer part of 10/3 is: 3

In [ ]:
# prompt: # write a program which returns only the decimal of a/b

a = 10
b = 3

# Calculate the integer part using floor division
integer_part = a // b

# Subtract the integer part from the full division result to get the decimal part
decimal_part = (a / b) - integer_part

print(f"The decimal part of {a}/{b} is: {decimal_part}")

The decimal part of 10/3 is: 0.3333333333333335

In [ ]:
# prompt: # write the prgram which returns the nearest integer when a/b

import math

a = 10
b = 4.15

# Calculate the result of a/b
division_result = a / b

# Use round() to get the nearest integer
nearest_integer = round(division_result)
print(a/b)
print(f"The nearest integer when {a}/{b} is: {nearest_integer}")

2.4096385542168672
The nearest integer when 10/4.15 is: 2

In [ ]:
# prompt: # write the program which returns (ceil)the higher integer when a/b

a = 10
b = 3
import math
division_result = a / b
higher_integer = math.ceil(division_result)
print(f"The higher integer (ceil) when {a}/{b} is: {higher_integer}")

The higher integer (ceil) when 10/3 is: 4

In [ ]:
# next datatypes : Boolean

# its variable can contain True or False

a = False

print(type(a))

# because in python , it understands comparison operators

print(10 > 9)

print(10 == 9)

print(10 < 9)
print(10!=10) # ! not

<class 'bool'>
True
False
False
False

In [ ]:
# create a variable x and y with some values

#  check if x =y , x>y  or x <= y

# create a variable x and y with some values
x=int(input("x ="))
y=int(input("y= "))
#  check if x =y , x>y  or x <= y
print(x==y)
print(x>y)
print(x<=y)

In [ ]:
# strings -->
# the syntax--> strings --> a sequnce of characters in single quotes ('') or double quotes ("") or tiple quotes (''' """")


a = "AJ"
print(a)
print(type(a))

In [ ]:
# create a string using single quote

a = '''heloo'''
print(a)
print(type(a))

In [ ]:
# write a string which runs into multiline

a = "hello
AJ"
print(a)

In [ ]:
multiline_string = """This is a string
that spans across
multiple lines."""
print(multiline_string)

In [ ]:
# esc b , # ctrl+ enter --> google colab
# try string operatiores -- a , b --> a+b , a*3 ,
a = "hello"
b = "world"
# Concatenation
concatenated_string = a + " " + b
print(f"Concatenation: {concatenated_string}")
# Repetition
repeated_string = a * 3
print(repeated_string)

In [ ]:
# slicing and indexing

a = "Hello world"

print(len(a))

In [ ]:
# in pyuthon indexing starts from zero

print(a[0])

# to print using index the letter w

In [ ]:
print(a[6])

In [ ]:
# prompt: find the index number of w in a and print it

print(a.index('o'))

In [ ]:
# indexing also works in reverse--> -1

print(a[-1])

In [ ]:
# slicing --> print all the letters in


a = "Hello world"

print(a[1:7])

In [ ]:
my_string = "hello world"
# Print the first 'l' (at index 2)
print(f"First 'l': {my_string[2]}")
# Print the last 'l' (at index 9)
print(f"Last 'l': {my_string[9]}")
# Print characters with a step of 2
print(f"Characters with a step of 2: {my_string[::2]}")

In [ ]:
#

print(a)

print(a[2])

a[2]='m'
print(a)

# strings are immutable datatypes

In [ ]:
#

In [ ]:
Method	Description	Example
upper()	Converts to uppercase	"hi".upper() → 'HI'
lower()	Converts to lowercase	"HI".lower() → 'hi'
capitalize()	Capitalizes first letter	"hello".capitalize()
strip()	Removes spaces from ends	" hi ".strip()
replace(old, new)	Replace substring	"hat".replace("h", "c")
split()	Splits string into list	"a,b,c".split(",")
join()	Joins elements with string separator	",".join(['a','b'])
find()	Finds index of substring	"hello".find("l")
count()	Counts occurrences of substring	"hello".count("l")

# use the above methods , and run the code, share with me , AI for the same

# 10:23--> 10:33 --> please finish the above

In [ ]:
my_string = "hello world"
print(my_string.upper())

In [ ]:
# prompt: Create codes for following:
# upper()	Converts to uppercase	"hi".upper() → 'HI'
# lower()	Converts to lowercase	"HI".lower() → 'hi'
# capitalize()	Capitalizes first letter	"hello".capitalize()
# strip()	Removes spaces from ends	" hi ".strip()
# replace(old, new)	Replace substring	"hat".replace("h", "c")
# split()	Splits string into list	"a,b,c".split(",")
# join()	Joins elements with string separator	",".join(['a','b'])
# find()	Finds index of substring	"hello".find("l")
# count()	Counts occurrences of substring	"hello".count("l")

# Demonstrate string methods based on the provided table
my_string = "  Hello World!  "
print(f"Original string: '{my_string}'")

# upper()
print(f"upper(): '{my_string.upper()}'")

# lower()
print(f"lower(): '{my_string.lower()}'")

# capitalize() - applied to a string variable
example_string = "hello"
print(f"capitalize() on 'hello': '{example_string.capitalize()}'")

# strip()
print(f"strip(): '{my_string.strip()}'")

# replace(old, new)
replace_example = "hat"
print(f"replace('h', 'c') on 'hat': '{replace_example.replace('h', 'c')}'")

# split()
split_example = "apple,banana,cherry"
print(f"split(','): {split_example.split(',')}")

# join()
join_example = ['a','b','c']
print(f"','.join(['a','b','c']): '{','.join(join_example)}'")

# find()
find_example = "hello"
print(f"find('l') on 'hello': {find_example.find('l')}")
print(f"find('z') on 'hello': {find_example.find('z')}") # Demonstrates not found

# count()
count_example = "hello world hello"
print(f"count('l') on 'hello world hello': {count_example.count('l')}")
print(f"count('hello') on 'hello world hello': {count_example.count('hello')}")

In [ ]:
# next datatype: list  , [] --> elements , and these elements any datatype

a = [2,3,4]

print(type(a))


# create a list which contains a integer, a float and a string
b = [2, 3.14 , "AK"]

print(type(b))

In [ ]:
# indexing also works with list,

# create a list which contains a integer, a float and a string and a list

b = [2, 3.14 , "AK", [5,67,2]]
print(type(b))

# do the indexing in list, it starts from zero, print all the elements in list using indexing

print(b[0])
print(b[1])
print(b[2])
print(b[3][1]) # double indexing

In [ ]:
# convert 2 into 6.14 in the list b using indexing
# tell the type of index 1 in the list
print(b)
b[0]=6.14
print(type(b[1]))
print(b)

# we have mutated the list -->
# list are mutable datatypres

In [ ]:
# to summarize -->

# python --> install python , anaconda, VS code -->

# python datatypes: numbers, strings, list , boolean

# python datatypes: tuples, dictionary, Set

# functions -print, type, len, methods in strings

In [ ]:
# git ---> versioning tool --> push these codes --> github--# bookmark the links,

In [ ]:
# python --> 4 sessions
# mlops tools: ML, git, dvc, mlflow, flask, streamlitb

In [ ]:
# tuples - list --> also contain any other datatypes ==> [] , ()

a = (1,2,3)

print(a)
print(type(a))

In [ ]:
# creat a tuple which ciontaines three elemts of strings

# create a tuple which contains a string, float, and an integer
mixed_tuple = ("hello", 3.14, 10)
print(mixed_tuple)
print(type(mixed_tuple))

my_tuple = ("string1", "string2", "string3")
print(my_tuple)
my_mix_tuple = ("string1", 2, 1.1)
print(my_mix_tuple)

In [ ]:
# list --> change theh elements

# similar to list can you try item assignmetn --> 6
my_tuple = ("string1", "string2", "string3")
print(my_tuple)

my_tuple[1]= 6

# what is the datatype of tyuple : mutable or immutable

In [ ]:
# create a tuple and convert it into a list --. function

# create a list and convert it into a tuple -- function

# t= (1,2,3,4) --> use indexing to get the element 3

# extract from t the elements 2,3

# tuple operations: create two tuples and add them
# create a tuple and multiply them three times
#t = (1,2,3) use a function to find if 2 is present in t

# length of t

# t = (1,2,2,3) count numnber of 2 in t
# give the index number of 2 in t

08:28--> 08:38

In [ ]:
# prompt: create a list and convert to tuple

my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_list)
print(my_tuple)
print(type(my_list))
print(type(my_tuple))

In [ ]:
my_tuple = ("apple", "banana", "cherry")
print("Tuple:", my_tuple)
my_list = list(my_tuple)
print("List:", tup(my_list))
t = (1, 2, 3)
print(t[2])
print(t[-1])

In [ ]:
# Create two tuples and add them
t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print("Added tuple:", result) # (1, 2, 3, 4, 5, 6)
# Create a tuple and multiply it 3 times
t3 = ("apple", "banana")
result = t3 * 3
print("Multiplied tuple:", result) # ('apple', 'banana', 'apple', 'banana', 'apple', 'banana')

t = (1, 2, 3)
print(2 in t)     # True
print(5 not in t) # True

# Find length of a tuple
length = len(t)
print("Length of tuple:", length) # 3
# Count number of 2s and find index of first 2
t = (1, 2, 3, 2, 4, 2)
count_2 = t.count(2)
print("Number of 2s in t:", count_2) # 3
index_2 = t.index(2)
print("Index of first 2 in t:", index_2) # 1

In [ ]:
# dictionary

# key: value pair


student = {
    "name": ["AK","BK"],
    "age": 7,
    "grade": 2,
    123: "roll no"
}
print(student)
print(type(student))
print(student["age"])

In [ ]:
# create a dictionary which contains five key-value pairs, you can create value of any datatype

# create a dictionary which contains five key-value pairs, you can create value of any datatype
st = {
"name": "Alice",
"age": 30,
"is_student": False,
"grades": [95, 88, 92],
"address": {"street": "123 Main St", "city": "Anytown"}
}
print(st)
print(type(st))

In [ ]:
# in st add a new key-cvalue pari gender --> female

st['gender']= 'female'
print(st)

In [ ]:
# delete is_student from st
del st["is_student"]
st

In [ ]:
# print all the keys in the dictionary
st.pop("name")

In [ ]:
print(st)

In [ ]:
# print all the keys in the dictionary
print(st.keys())

In [ ]:
print(st.values())

In [ ]:
print(st.items())

In [ ]:
# create two dictionaries a and b , merge them

# Create two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
# Merge the two dictionaries using the update() method
dict1.update(dict2)
# Display the merged dictionary
print("Merged dictionary using update():", dict1)
# Create two`b new dictionaries for demonstration with the unpacking operator
dict3 = {"e": 5, "f": 6}
dict4 = {"g": 7, "h": 8}
# Merge the two dictionaries using the ** unpacking operator (Python 3.5+)
merged_dict_unpacking = {**dict3, **dict4}
# Display the merged dictionary
print("Merged dictionary using unpacking operator:", merged_dict_unpacking)

In [ ]:
# prompt: create an example of nested dictionary

student = {
    "name": "Alice",
    "contact": {
        "email": "alice@example.com",
        "phone": "123-456-7890"
    },
    "courses": ["Math", "Science", "History"]
}

print(student)
print(student["contact"]["email"])

In [ ]:
# Set

s = {5,5,6,1,2,3,3,3,4}

print(s)

In [ ]:
s = [5,5,6,1,2,3,3,3,4]
print(s)
my_list = [5, 5, 6, 1, 2, 3, 3, 3, 4]
my_set = set(my_list)
print("List converted to set:", my_set)

In [ ]:
# whether set is mutable or immutable type
my_list = [1, 2, 2, 3, 4, 4, 5]
print("Original List:", my_list)
my_set = set(my_list)
print("Converted Set:", my_set)

my_set.add(7)
print(my_set)
# can we do this tuple ?

In [ ]:
# 09:23---> 09:43 --> working break -->
1. Assign the integer 42 to a variable and print its type.
2. Divide 7 by 3 and print the result and its data type.
3. Convert the float 8.75 to an integer and print it.
4. Multiply an int and a float (e.g., 5 * 2.5) and print the result and type.
5. Use type casting to add string '4' and integer 3, then print the result.
6. Create a string 'HelloWorld' and print only 'World' using slicing.
7. Convert the string 'PYTHON' to lowercase and print it.
8. Check if the string 'data' exists in 'data science' and print the result.
9. Concatenate the strings 'Data' and 'Type' with a space in between.
10. Print the length of the string 'Boolean'.
11. Assign True to a variable and print its type.
12. Evaluate the expression (10 > 2) and (3 == 4) and print the result.
13. Assign None to a variable and check if it equals 0.
14. Print the result of bool('') and bool('Python').
15. Compare float(3.0) == int(3) and print the result.
16. Create a list of numbers [1, 2, 3] and append 4 to it. Print the list.
17. Print the first and last element from the list [10, 20, 30, 40].
18. Replace the second element of the list ['a', 'b', 'c'] with 'z'.
19. Create a tuple (1, 2, 3). Try changing its second element and observe the error.
20. Create a dictionary {'a': 1, 'b': 2}. Add a new key 'c' with value 3 and print the dictionary.

In [ ]:
# new to python coding, coding after python

# what is a function

#A function is a block of reusable code that performs a specific task.
#Functions help you write clean, modular, and DRY (Don't Repeat Yourself) code.


def function_name(parameters):
  #code block
  return result

In [ ]:
def greet(student_name):
  print("Welcome to the class, "+ student_name)

In [ ]:
greet("AK")
greet("BK")
greet("CK")

In [ ]:
# for this one--> genai

# create a function which takes three numbers and returns the multiplication, addition of the three.
#09:53--> 09:56

def sum3(a=0,b=0,c=0):
  sum3 = a+b+c
  return(sum3)

In [ ]:
a= sum3(3,24,3)
print(a)

In [ ]:
sum3(1,1)

In [ ]:
# create a function that returns the square of the number.
def square(num=0):
  return num ** 2


result = square()
print("Square:", result)

Square: 25

In [ ]:
def student(name, grade):
    print(f"{name} scored {grade}")

student(grade="A", name="Ravi")

In [ ]:
# create a functioon which takes a name and a message and prints them

def greet(name, message):
  print(f"Hello {name}, {message}")
# Example usage:
greet(message = "hope you're having a great day!",name = "Alice")

In [ ]:
# multiple keyword arguments

def sum_all(*args):
  return sum(args)

sum_all(1,2,5)

# you have a dictionary that goes as an input and you need to print all the key value pairs

In [ ]:
# prompt: # you have a dictionary that goes as an input and you need to print all the key value pairs

def print_dict_items(input_dict):
  """
  Prints all key-value pairs from a dictionary.

  Args:
    input_dict: The dictionary to print.
  """
  for key, value in input_dict.items():
    print(f"{key}: {value}")

# Example usage:
my_dictionary = {
    "apple": 1,
    "banana": 2,
    "cherry": 3
}

print_dict_items(my_dictionary)

In [ ]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

print_details(name="Ricky", age=7)

In [ ]:
# scope of variables

# local scope
def demo():
  x = 5
  print(x)


demo()
print(x)

In [ ]:
# global scope

x = 10

def show():
  print(x)

show()
x

In [ ]:
Write a function to calculate the square of a number.

Write a function that returns True if a number is even.

Write a function that accepts a name and prints a welcome message.

Write a function to return the maximum of 3 numbers.

Write a function to reverse a string.

Write a function to check if a number is prime.

Write a recursive function to calculate the factorial of a number.

Write a function that accepts a list of numbers and returns their average.

Write a lambda function to add two numbers.

Write a function that accepts any number of arguments and returns their sum.

In [ ]:
#  ML AI GENAI LLMS MLOPS LLMOPS --> after the next weekend
# Agentic AI --> operationalize ---> in todays' --> coding -->

# next two sessions

# conditional statements if else # Are we going to cover file hanling and exceptionl handling ?
# loops : for while
# config files
# environments

# MLOPS --> object oriented programming -->
# fortune 500--. the value of time--> invest into upgrading --> effort/ motivation
#

In [ ]:
# agenda for todays sessioN: Python classes ---> conditional statements, loops

# conditional statements

if condition:
  # code block
# indentation matter
# condition--> True or False

In [ ]:
x = -2
if x>0:
  print("positive")

In [ ]:
# create a code block if x >45 print pass